@media (min-width: 300px) {
  .img-profesionals {
    /*max-width: 622px;*/
    max-height: 177px;
  }
}

@media (min-width: 576px) {
  .img-profesionals {
    max-height: 284px;
  }
}

@media (min-width: 768px) {
  .img-profesionals {
    max-height: 380px;
  }
}

@media (min-width: 992px) {
  .img-profesionals {
    max-height: 492px;
  }
}

@media (min-width: 1200px) {
  .img-profesionals {
    max-height: 1000px;
  }
}
